body {
  background: #f5f5f5;
}

.screen{
  height: 100vh;
}

.evaluation-container{
  width: 550px;
}

.formula-part{
  background-color: white;
  border-radius: 6px;
  font-size: 20px;
}

.equals-text{
  font-size: 40px;
}

.answer-text{
  color: #47d09a;
  font-size: 40px;
}